Source: rpi-tools
Section: devel
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/raspberrypi/tools
Vcs-Git: git://github.com/ev3dev/rpi-tools.git
Vcs-Browser: https://github.com/ev3dev/rpi-tools

Package: gcc-arm-rpi-4.9.3-linux-gnueabihf
Architecture: amd64
Depends: ${misc:Depends}, lsb
Description: Toolchain for cross-building Raspbian (armv6) binaries.
 This is the "official" toolchain from the Raspberry Pi foundation.
